@import "fonts"
@import "vars"

* 
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box

*::-webkit-input-placeholder
	color: #999
	opacity: 1

*:-moz-placeholder
	color: #999
	opacity: 1

*::-moz-placeholder
	color: #999
	opacity: 1

*:-ms-input-placeholder
	color: #999
	opacity: 1

ul, ol
  margin: 0
  padding: 0
  list-style: none

img 
  border-style: none

h1, h2, h3, h4, h5, h6, p, figure, li
  margin: 0

img
  border-style: none
  display: block

input, select, textarea 
  vertical-align: middle
  font: 100% arial, helvetica, sans-serif

a 
  text-decoration: none

a:hover, a:active, a:focus
  text-decoration: none
  color: unset

html, body
  height: 100%

body
	min-width: 320px
	margin: 0
	color: $text-color
	overflow-x: hidden
	font-family: "RobotoLight"
	color: #292827
	font-size: 18px
	line-height: 1.4

.header-tours
	padding-top: 35px
	background: url('../img/bg-line.png') repeat-x 0 100%
	background-size: auto 52px
	position: relative

.top-buttons_holder
	display: block
	text-align: right
	margin-bottom: 70px

.header-btn
	display: inline-block
	border: 1px solid transparent
 	font-family: "RobotoLight"
	font-size: 14px
	line-height: 31px
	border-radius: 5px
	margin-left: 21px
	width: 100px
	background: none
	text-align: center

.btn-log-in
	color: #000
	border: 1px solid #999

.btn-register
	background-color: $theme-color
	color: #fff

.logo
	position: absolute
	bottom: 0
	left: 50%
	display: block
	-webkit-transform: translate(-50%, 50px)
	-ms-transform: translate(-50%, 50px)
	-o-transform: translate(-50%, 50px)
	transform: translate(-50%, 50px)
	z-index: 100

.nav-tours
	font-family: "LatoBold"
	margin-top: 30px
	margin-bottom: 35px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	align-items: center
	ul
		list-style: none

		li
			display: inline-block
			a
				font-size: 20px
				color: #000

.nav-tours_left,
.nav-tours_right
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	width: 38%

.nav-tours_left
	-webkit-justify-content: flex-end
	-moz-justify-content: flex-end
	-ms-justify-content: flex-end
	-o-justify-content: flex-end
	justify-content: flex-end
	li
		padding-left: 37px
		&:first-child
			padding-left: 0

.nav-tours_right
	-webkit-justify-content: flex-start
	-moz-justify-content: flex-start
	-ms-justify-content: flex-start
	-o-justify-content: flex-start
	justify-content: flex-start
	li
		padding-right: 37px

.middle-link
	padding: 0 35px
	position: relative
	&:before,
	&:after
		content: ''
		display: block
		width: 5px
		height: 5px
		background-color: $theme-color
		position: absolute
		top: 50%
		-webkit-transform: translateY(-50%)
		-ms-transform: translateY(-50%)
		-o-transform: translateY(-50%)
		transform: translateY(-50%)
	&:before
		left: 0
	&:after
		right: 0

.behind-logo
	width: 22%
	height: 1px
	visibility: hidden

.tours-banner_wrap
	background-image: url("../img/banner-01.jpg")
	background-position: 50% 50%
	min-height: 670px
	background-size: cover
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	-webkit-display: flex
	-moz-display: flex
	-ms-display: flex
	-o-display: flex
	display: flex
	-ms-align-items: stretch
	align-items: stretch

.tours-banner
	width: 100%
	max-width: 1170px
	margin: 0 auto
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	-webkit-flex-direction: column
	-moz-flex-direction: column
	-ms-flex-direction: column
	-o-flex-direction: column
	flex-direction: column

.banner-box
	margin-top: 130px


.banner-box_top
	padding-left: 35px
	position: relative
	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 23px
		height: 36px
		display: block
		background: url('../img/geo.png') no-repeat 0 0

.banner-sticker
	font-family: 'RobotoMedium'
	padding: 0 15px
	display: inline-block
	background-color: #3f4cae
	font-size: 18px
	line-height: 34px
	text-transform: uppercase
	margin-bottom: 25px
	border-radius: 5px
	color: #fff

.banner-title
	font-family: "RobotoSlabBold"
	display: block
	font-size: 47px
	line-height: 49px
	color: #fff
	margin-bottom: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	-webkit-display: flex
	-moz-display: flex
	-ms-display: flex
	-o-display: flex
	display: flex
	-webkit-justify-content: flex-start
	-moz-justify-content: flex-start
	-ms-justify-content: flex-start
	-o-justify-content: flex-start
	justify-content: flex-start
	-ms-align-items: center
	align-items: center

.banner-title-left
	padding-right: 45px
	position: relative
	margin-right: 25px
	span
		display: block
	&:after
		content: ''
		width: 5px
		height: 100%
		position: absolute
		right: 0
		top: 0
		background: #fff

.banner-paragraph
	font-family: "RobotoRegular"
	display: block
	font-size: 28px
	line-height: 35px
	color: #fff
	margin-bottom: 35px
	max-width: 400px

.banner-btn
	display: inline-block
	background: -webkit-linear-gradient(left, #d81a29, #ea4c58)
	background: -moz-linear-gradient(left, #d81a29, #ea4c58)
	background: -ms-linear-gradient(left, #d81a29, #ea4c58)
	background: -o-linear-gradient(left, #d81a29, #ea4c58)
	background: linear-gradient(to right, #d81a29, #ea4c58)
	border-radius: 5px
	font-family: "RobotoSlabBold"
	text-transform: uppercase
	font-size: 19px
	line-height: 60px
	width: 250px
	border: none
	color: #fff
	text-align: center
	vertical-align: middle
	border: none
	&:hover
		color: #fff
		background: #ea4c58
	&:active,
	&:focus
		color: #fff
		background: -webkit-linear-gradient(left, #9b121c, #ea4c58)
		background: -moz-linear-gradient(left, #9b121c, #ea4c58)
		background: -ms-linear-gradient(left, #9b121c, #ea4c58)
		background: -o-linear-gradient(left, #9b121c, #ea4c58)
		background: linear-gradient(to right, #9b121c, #ea4c58)

.tours-banner_wrap
	.social-buttons
		margin-bottom: 50px
		-webkit-transform: translateX(160px)
		-ms-transform: translateX(160px)
		-o-transform: translateX(160px)
		transform: translateX(160px)

.social-buttons
	text-align: center
	li
		display: inline-block
.social-buttons_link
	margin: 0 10px
	display: inline-block
	margin: 0 7px
	background: #fff
	img
		width: 32px
		height: 32px

.tour-ladies_wrap
	width: 100%

.tour-ladies
	max-width: 1170px
	margin: 0 auto
	padding: 50px 0 150px 0
	text-align: center

.h2
	font-size: 34px
	font-family: "RobotoSlabBold"
	margin-top: 0
	margin-bottom: 35px
	text-align: center
	color: #292827

.btn-all-ladies
	text-align: center
	background: transparent
	border: 1px solid #ea4c58
	font-size: 16px
	line-height: 52px
	padding: 0 80px
	color: #ea4c58
	display: inline-block
	border-radius: 5px
	margin: 0 auto
	-webkit-transition: all .1
	-o-transition: all .1
	transition: all .1
	&:hover
		background: #f26e6e
		color: #fff
		border-color: #ea4c58
	&:active,
	&:focus
		color: #fff
		border-color: #ea4c58
		background-color: #ea4c58

.tour-ladies_holder
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	-ms-align-items: center
	align-items: center
	-webkit-flex-direction: row
	-moz-flex-direction: row
	-ms-flex-direction: row
	-o-flex-direction: row
	flex-direction: row
	-webkit-flex-wrap: wrap
	-moz-flex-wrap: wrap
	-ms-flex-wrap: wrap
	-o-flex-wrap: wrap
	flex-wrap: wrap

.ladies-profile
	width: 32%
	border-radius: 10px
	overflow: hidden
	border: 1px solid #5d5d5d
	margin-bottom: 55px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex	
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between	
	-ms-align-items: center
	align-items: center	
	text-align: left

.ladies-profile_left
	width: 55%
	overflow: hidden
	position: relative
	img
		width: 100%
		height: auto

.add-to-favorites
	position: absolute
	display: inline-block
	height: 24px
	width: 21px
	background: #ff382d
	left: 7%
	top: 0
	cursor: pointer
	border: none
	box-shadow: none
	outline: none
	color: #ffffff
	-webkit-transition: all 0.3s
	z-index: 100
	&:before
		content: ""
		position: absolute
		width: 0
		height: 0
		left: 0
		top: 0
		margin-top: 24px
		border-bottom: 9px solid transparent
		border-left: 11px solid #ff382d
		border-right: 10px solid #ff382d
		-webkit-transition: all .1s
		-moz-transition: all .1s
		-ms-transition: all .1s
		-o-transition: all .1s
	&:hover
		color: #fcff00
	span
		font-size: 11px
		line-height: 13px

.profile-id-video
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-around
	-moz-justify-content: space-around
	-ms-justify-content: space-around
	-o-justify-content: space-around
	justify-content: space-around
	-ms-align-items: center
	align-items: center
	width: 110px
	height: 35px
	background: rgba(0,0,0,.3)
	border-radius: 0 7px 0 0
	position: absolute
	left: 0
	bottom: 0
	z-index: 100

.profile-id
	display: inline-block
	border-radius: 7px
	border: 1px solid #000
	background: #fff
	font-size: 13px
	line-height: 15px
	color: #000
	padding: 3px 6px
	font-family: 'RobotoSlabBold'

.play-video-button
	color: #f2f2f2
	background: #ff4132
	width: 31px
	height: 23px
	border-radius: 5px
	text-align: center
	font-size: 9px
	vertical-align: middle
	line-height: 23px
	-webkit-transition: all .15s
	-o-transition: all .15s
	transition: all .15s
	&:hover
		-webkit-transform: scale(1.2)
		-ms-transform: scale(1.2)
		-o-transform: scale(1.2)
		transform: scale(1.2)
		color: #fff

.profile-photo-link
	position: absolute
	display: block
	z-index: 99
	left: 0
	right: 0
	top: 0
	bottom: 0
	width: 100%
	height: 100%
	background: transparent
	&:after
		font-family: 'FontAwesome'
		position: absolute
		content: '\f144'
		opacity: 0
		color: #fff
		font-size: 100px
		line-height: 1.1
		left: 50%
		top: 50%
		-webkit-transform: translate(-50%, -50%)
		-ms-transform: translate(-50%, -50%)
		-o-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%)
		-webkit-transition: all .15s
		-o-transition: all .15s
		transition: all .15s
	&:hover
		&:after
			opacity: .7
	&:active
		&:after
			opacity: 1

.search-profile-info
	width: 45%
	padding-left: 15px

.profile-name
	display: block
	font-family: 'RobotoSlabBold'
	letter-spacing: 0.7px
	font-size: 21px
	line-height: 25px
	color: #000

.card-hold
	display: block
	color: #a0a0a0
	font-family: 'RobotoRegular'
	font-size: 14px
	line-height: 18px
	margin-bottom: 15px
	em
		display: block
		font-style: normal
		font-family: 'RobotoRegular'
		font-size: 14px
		line-height: 17px
		padding-left: 15px
		position: relative
		&:before
			font-family: 'FontAwesome'
			content: '\f004'
			position: absolute
			left: 0
			top: 0
			font-size: 11px
	span
		display: block

.card-hold.offline
	color: #a0a0a0
	em
		color: #a0a0a0

.card-hold.online
	color: #26a19c
	em
		color: #26a19c

.profile-button
	display: block
	border: 1px solid rgba(0,0,0,.6)
	font-size: 12px
	line-height: 14px
	width: 125px
	height: 40px
	overflow: hidden
	border-radius: 10px
	padding: 0 9px
	-webkit-transition: box-shadow .15s
	-moz-transition: box-shadow .15s
	-ms-transition: box-shadow .15s
	-o-transition: box-shadow .15s
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: flex-start
	-moz-justify-content: flex-start
	-ms-justify-content: flex-start
	-o-justify-content: flex-start
	justify-content: flex-start
	-ms-align-items: center
	align-items: center
	border-radius: 7px
	margin-bottom: 10px
	&:hover
		box-shadow: 2px 2px 3px rgba(0,0,0,.2)
	span
		color: #000
		font-size: 12px
		line-height: 14px
	img
		margin-right: 10px

.view-profile-button
	display: inline-block
	background: #ff382d
	color: #fff
	font-family: 'RobotoRegular'
	width: 125px
	font-size: 14px
	line-height: 32px
	border-radius: 5px
	-webkit-transition: all .05s
	-moz-transition: all .05s
	-ms-transition: all .05s
	-o-transition: all .05s
	text-align: center
	margin-top: 15px
	&:hover
		color: #fff
		background-color: #f95d69
	&:active,
	&:focus
		color: #fff
		background-color: #d92d3a


.tours-date
	background: url('../img/tour-date-bg.jpg') no-repeat 0 0
	background-size: 460px auto
	margin-bottom: 200px
	.h2
		text-align: left
		margin-top: 15px

.tours-date_block
	border-radius: 10px
	border: 2px solid #f24841
	padding: 35px 0
	min-height: 590px

.tours-date_block-text
	font-size: 18px
	line-height: 30px
	font-family: "RobotoLight"
	margin-bottom: 70px

.tours-dates_bottom
	text-align: center

.tours-dates_title
	color: #292827
	padding: 0 25px
	font-family: "RobotoSlabBold"
	font-size: 24px	
	line-height: 26px
	text-align: center
	position: relative
	margin-bottom: 40px
	display: inline-block
	&:before,
	&:after
		content: ''
		width: 5px
		height: 5px
		background-color: #ea4c58
		position: absolute
		top: 50%
		-webkit-transform: translateY(-50%)
		-ms-transform: translateY(-50%)
		-o-transform: translateY(-50%)
		transform: translateY(-50%)
		margin: 0 auto
		display: inline-block
	&:before
		left: 0
	&:after
		right: 0

.dates-holder
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-around
	-moz-justify-content: space-around
	-ms-justify-content: space-around
	-o-justify-content: space-around
	justify-content: space-around
	-ms-align-items: center
	align-items: center

.date-block
	text-align: center
	span
		margin-bottom: 25px
		font-family: "RobotoRegular"
		font-size: 16px
		line-height: 18px
		display: block

.btn-tour
	font-family: "RobotoSlabBold"
	font-size: 16px
	line-height: 50px
	padding: 0 35px
	width: 160px
	background-color: #ea4c58
	color: #fff
	display: inline-block
	border-radius: 7px
	outline: none
	border: none
	&:hover
		color: #fff
		background-color: #f95d69
	&:active,
	&:focus
		color: #fff
		background-color: #d92d3a

.tours-dates_content
	padding: 0 15px

.tours-details_content
	padding: 0 15px

.tours-details
	background: url('../img/tour-details-bg.jpg') no-repeat 95% 0
	background-size: 515px auto
	margin-bottom: 230px
	.h2
		text-align: left
		margin-top: 15px

.tours-details_border
	border-radius: 10px
	border: 2px solid #f24841
	padding: 40px 0 100px
	min-height: 800px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	-ms-align-items: stretch
	align-items: stretch

.tours-details_text
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-around
	-moz-justify-content: space-around
	-ms-justify-content: space-around
	-o-justify-content: space-around
	justify-content: space-around
	-webkit-flex-direction: row
	-moz-flex-direction: row
	-ms-flex-direction: row
	-o-flex-direction: row
	flex-direction: row
	-ms-align-items: flex-end
	align-items: flex-end
	p
		max-width: 330px
		font-style: italic
		padding: 0 30px
		position: relative
		display: inline-block
		&:before
			content: ''
			width: 15px
			height: 5px
			background: -webkit-linear-gradient(left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px)
			background: -moz-linear-gradient(left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px)
			background: -ms-linear-gradient(left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px)
			background: -o-linear-gradient(left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px)
			background: linear-gradient(to left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px)			
			position: absolute
			top: 8px
			margin: 0 auto
			display: inline-block
			left: 0
		span
			margin-bottom: 4px
			margin-left: 10px
			width: 15px
			height: 5px
			background: -webkit-linear-gradient(left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px) no-repeat 0 50%
			background: -moz-linear-gradient(left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px) no-repeat 0 50%
			background: -ms-linear-gradient(left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px) no-repeat 0 50%
			background: -o-linear-gradient(left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px) no-repeat 0 50%
			background: linear-gradient(to left, #ea4c58 0px, #ea4c58 5px, #fff 5px, #fff 10px, #ea4c58 10px, #ea4c58 15px) no-repeat 0 50%
			display: inline-block

.tour-detail_left
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	-webkit-flex-direction: column
	-moz-flex-direction: column
	-ms-flex-direction: column
	-o-flex-direction: column
	flex-direction: column

.tour-detail_block
	text-align: center
	object
		display: block
		margin: 0 auto
		margin-bottom: 25px
	p
		display: block
		font-family: "RobotoRegular"
		font-size: 16px
		line-height: 18px
		max-width: 210px
		margin: 0 auto

.tour-plan
	margin-bottom: 200px
	.h2
		text-align: left
		margin-bottom: 18px

.plan-dates
	font-family: "RobotoLight"
	font-size: 18px
	line-height: 20px
	margin-bottom: 50px
	span
		display: inline-block
		margin-right: 15px
	p
		display: inline-block
		padding-left: 15px
		background: -webkit-linear-gradient(left, #ea4c58, #ea4c58) no-repeat 0 50%
		background: -moz-linear-gradient(left, #ea4c58, #ea4c58) no-repeat 0 50%
		background: -ms-linear-gradient(left, #ea4c58, #ea4c58) no-repeat 0 50%
		background: -o-linear-gradient(left, #ea4c58, #ea4c58) no-repeat 0 50%
		background: linear-gradient(to left, #ea4c58, #ea4c58) no-repeat 0 50%
		background-size: 5px 5px

.plan-border
	border-radius: 10px
	border: 2px solid #f24841
	margin-top: 35px
	padding-top: 35px
	margin-bottom: 45px
	min-height: 365px

.tour-plan_holder
	min-height: 500px
	background: url('../img/tour-plan-bg.jpg') no-repeat 15px 0
	background-size: 445px auto

.day-title
	font-size: 72px
	line-height: 74px
	color: #f24841
	font-family: 'RobotoSlabBold'
	display: block
	margin-bottom: 30px

.day-subheding
	display: block
	padding: 7px 0 7px 65px
	background: url('../img/urb-ornament.svg') no-repeat 0 50%
	background-size: auto 140%
	margin-bottom: 30px
	font-size: 18px
	line-height: 20px
	font-style: italic
	font-family: 'RobotoRegular'

.day-plan_text
	display: block
	font-size: 18px
	line-height: 32px
	color: #292827
	font-family: "RobotoLight"
	margin-bottom: 50px
	font-weight: bold

.plan-border_block
	padding-left: 30px

.day-block
	text-align: center
	span
		text-align: center
		display: block
		font-style: italic
		font-family: 'RobotoRegular'
		color: #949393
		font-size: 10px
		line-height: 12px
		margin-bottom: 7px
	button
		text-align: center
		display: block
		font-family: 'RobotoRegular'
		border: none
		background: none
		font-size: 13px
		line-height: 15px
		color: #949393
		padding: 0 30px 0 20px
		position: relative
		outline: none
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-ms-align-items: center
		align-items: center
		-webkit-transition: all .15s
		-o-transition: all .15s
		transition: all .15s
		height: 20px
		&:after
			font-family: 'FontAwesome'
			content: '\f054'
			display: block
			bottom: 50%
			-webkit-transform: translateY(50%)
			-ms-transform: translateY(50%)
			-o-transform: translateY(50%)
			transform: translateY(50%)
			right: 0
			color: #919191
			font-size: 14px
			line-height: 16px
			position: absolute

.days-row
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: flex-start
	-moz-justify-content: flex-start
	-ms-justify-content: flex-start
	-o-justify-content: flex-start
	justify-content: flex-start
	-ms-align-items: center
	align-items: center
	.day-block
		&:last-child
			button
				&:after
					display: none

.active-day.day-block
	span
		font-size: 17px
		line-height: 19px
		-webkit-transform: translateY(-5px)
		-ms-transform: translateY(-5px)
		-o-transform: translateY(-5px)
		transform: translateY(-5px)
	button
		font-family: 'RobotoBold'
		font-size: 25px
		line-height: 27px
		color: #292827
		&:after
			color: #f24841

.participate-hold
	width: 100%
	background: -webkit-linear-gradient(left, #acbeee 0, #b8a9d3 50%, #c296ba 100%)
	background: -moz-linear-gradient(left, #acbeee 0, #b8a9d3 50%, #c296ba 100%)
	background: -ms-linear-gradient(left, #acbeee 0, #b8a9d3 50%, #c296ba 100%)
	background: -o-linear-gradient(left, #acbeee 0, #b8a9d3 50%, #c296ba 100%)
	background: linear-gradient(to right, #acbeee 0, #b8a9d3 50%, #c296ba 100%)
	margin-bottom: 60px

.participate
	min-height: 185px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-around
	-moz-justify-content: space-around
	-ms-justify-content: space-around
	-o-justify-content: space-around
	justify-content: space-around
	-ms-align-items: center
	align-items: center
	text-align: center
	strong
		font-family: 'RobotoBold'
		font-size: 20px
		line-height: 22px
		color: #fff
		max-width: 500px
		text-align: center
	.btn-tour
		width: 200px

.contact-subheading
	display: block
	text-align: center
	font-family: "RobotoLight"
	color: #292827
	font-size: 14px
	line-height: 16px
	margin-bottom: 50px

.contact-form
	padding: 50px 55px
	box-shadow: 0 0 100px rgba(0,0,0,.15)
	margin-bottom: 115px

.h3
	font-family: "RobotoSlabBold"
	font-size: 24px
	line-height: 26px
	padding-bottom: 40px
	position: relative
	text-align: center
	margin-bottom: 60px
	&:after
		content: ''
		display: block
		position: absolute
		background: url('../img/heading-ornament.png') no-repeat 0 100%
		bottom: 0
		left: 50%
		width: 170px
		height: 25px
		-webkit-transform: translateX(-50%)
		-ms-transform: translateX(-50%)
		-o-transform: translateX(-50%)
		transform: translateX(-50%)

.form-input
	font-size: 16px
	line-height: 30px
	padding: 0 10px
	font-family: "RobotoLight"
	margin-bottom: 30px
	border: none
	border-bottom: 1px solid rgba(0,0,0,.23)
	width: 100%
	outline: none

.form-input.error
	border-bottom-color: #ea4c58
	color: #ea4c58
	&:focus
		color: #ea4c58
		border-bottom-color: rgba(234,76,88,.25)

.form-subtitle
	color: #999
	font-family: "RobotoLight"
	font-size: 16px
	line-height: 18px
	margin-top: 35px
	margin-bottom: 35px
	text-align: center

.checkbox-holder
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: center
	-moz-justify-content: center
	-ms-justify-content: center
	-o-justify-content: center
	justify-content: center
	-ms-align-items: center
	align-items: center
	margin-bottom: 30px

.checkbox-item
	margin: 0 15px
	position: relative
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	-ms-align-items: center
	align-items: center
	label
		margin: 0
		font-family: "RobotoSlabLight"
		font-size: 14px
		line-height: 16px
		color: #c4c1bf
	input[type="checkbox"]
		margin: 0

/* .squaredThree */
.checkbox-item_hold
	width: 13px
	position: relative
	margin-right: 10px

.check-label
	border: 2px solid #bfbfbf
	width: 13px
	height: 14px
	cursor: pointer
	position: absolute
	top: 50%
	left: 0
	margin: 0
	-webkit-transform: translateY(-50%)
	-ms-transform: translateY(-50%)
	-o-transform: translateY(-50%)
	transform: translateY(-50%)
	&:after
		content: ''
		width: 9px
		height: 5px
		position: absolute
		top: 2px
		left: 1px
		border: 3px solid #44b759
		border-top: none
		border-right: none
		background: transparent
		opacity: 0
		transform: rotate(-45deg)
	&:hover::after
		opacity: 0.3
input[type='checkbox']
	visibility: hidden
	&:checked + label:after
		opacity: 1

.preferred-method
	margin-bottom: 40px

.contact-us-form
	text-align: center

.join-us_hold
	background: #3f4cae
	width: 100%
	padding: 55px 0
	.btn-tour
		width: 180px 

.join-us
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	-ms-align-items: center
	align-items: center

.join-us-title
	font-size: 36px
	line-height: 38px
	color: #fff
	font-family: 'RobotoSlabLight'

.footer-hold
	background: #eee
	padding-top: 40px

.footer-nav-title
	font-family: "RobotoSlabBold"
	font-size: 16px
	line-height: 18px
	
.footer-nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	-ms-align-items: flex-start
	align-items: flex-start
	-webkit-flex-wrap: wrap
	-moz-flex-wrap: wrap
	-ms-flex-wrap: wrap
	-o-flex-wrap: wrap
	flex-wrap: wrap

.footer-nav_col
	li
		margin-bottom: 10px
		a
			padding-left: 24px
			font-family: 'RobotoLight'
			font-size: 16px
			line-height: 18px
			color: #000
			position: relative
			&:before
				content: ''
				width: 5px
				height: 5px
				background-color: #ea4c58
				position: absolute
				top: 50%
				-webkit-transform: translateY(-50%) rotate(45deg)
				-ms-transform: translateY(-50%) rotate(45deg)
				-o-transform: translateY(-50%) rotate(45deg)
				transform: translateY(-50%) rotate(45deg)
				margin: 0 auto
				display: inline-block
				left: 0
	
.footer-logo
	display: inline-block
	text-align: center
	margin: 0 auto
	img
		margin: 0 auto
		display: inline-block

.footer-top
	margin-bottom: 40px

.footer-phone
	color: #ea4c58
	font-size: 24px
	line-height: 26px
	font-family: 'RobotoSlabBold'

.policy-nav
	li
		display: inline-block
		a
			color: #3f4cae
			font-size: 14px
			line-height: 16px
			text-decoration: underline
			margin: 0 10px

.footer-bottom
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	-ms-align-items: center
	align-items: center
	margin-bottom: 40px
	.social-buttons_link
		margin: 0 10px

.page-bottom
	background: #000
	color: #fff
	text-align: center
	padding: 15px 0
	font-family: 'RobotoLight'
	font-size: 12px
	line-height: 14px
@import 'media'